<!DOCTYPE html>
<html>
<head>
  <title>Search Page</title>
</head>
<body>
  <h1>Search Page</h1>
  
  <form>
    <input type="text" id="searchBox" placeholder="Enter your search term">
    <button type="button" onclick="search()">Search</button>
  </form>
  
  <script>
    function search() {
      var searchTerm = document.getElementById("searchBox").value;
      var redirectURL = "https://we-tube.onrender.com/?link=" + encodeURIComponent(searchTerm);
      
      // Redirect the user to the specified URL
      window.location.href = redirectURL;
    }
  </script>
</body>
</html>
